@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nunito:wght@600&family=Oleo+Script&family=Oswald:wght@200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,200;1,400&family=Press+Start+2P&family=Questrial&family=Roboto+Mono:ital,wght@1,200&family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Nunito:wght@600&family=Oleo+Script&family=Oswald:wght@200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,200;1,400&family=Press+Start+2P&family=Questrial&family=Raleway:ital,wght@0,100;1,300;1,600;1,900&family=Roboto+Mono:ital,wght@1,200&family=Roboto:ital,wght@0,100;0,300;0,400;0,900;1,100&display=swap');

:root{
    /**Fonts*/

    --Popins1:  'Nanum Gothic', sans-serif;
    --Popins2:  'Nunito', sans-serif;
    --Popins3:  'Oleo Script', cursive;
    --Popins4:  'Oswald', sans-serif;
    --Popins5:  'Poppins', sans-serif;
    --Popins6:  'Press Start 2P', cursive;
    --Popins7:  'Questrial', sans-serif;
    --Popins8:  'Roboto', sans-serif;
    --Popins9:  'Roboto Mono', monospace;
    
    /*-----FONT-----*/
    --H12: 'Nanum Gothic', sans-serif;
    --H13: 'Nunito', sans-serif;
    --H14: 'Oleo Script', cursive;
    --H15: 'Oswald', sans-serif;
    --H16: 'Poppins', sans-serif;
    --H17: 'Press Start 2P', cursive;
    --H18: 'Questrial', sans-serif;
    --H19: 'Raleway', sans-serif;
    --H10: 'Roboto', sans-serif;
    --H11: 'Roboto Mono', monospace;
    

    /**Colors*/
    --gris: #D7CCC6;
    --marron:#C0A081;
    --crema-transparente:#ddc0aba3;
    --crema:#DDC0AB;
    --rojo:#29070C;
    --blanco:#ffffff;
}

